.form-group {
    border: 1px solid beige; /* You can adjust the border color and thickness as needed */
    padding: auto; /* Optional: Add padding to give some space around the form */
    color: black;
    background-color: aqua;
}
